@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Welcome To Game Design Database!</h1>
    <p><a href="https://learn.microsoft.com/aspnet/core">Built with ASP.NET Core</a>.</p>
    <p><a asp-controller="Games" asp-action="Index">Games</a></p>
</div>
