@model Game_Design_DB.Models.Game

@{
    ViewData["Title"] = "Details";
}

<form-header subject="Game" description="Details" />
<detail-field asp-for="Developer" />
<detail-field asp-for="Name" />
<detail-field asp-for="Website" />
<detail-field asp-for="People" />

<a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
<a asp-action="Index">Back to List</a>
