@model Game_Design_DB.ViewModels.GameViewModel

@{
    ViewData["Title"] = "Edit " + Model.Name;
}

<form-header subject="Games" description="Edit @Model.Name" />
<form class="col-md-4" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form-field asp-for="Developer" />
    <form-field asp-for="Name" />
    <form-field asp-for="Website" />
    <form-many-field asp-for="Authors" field="SelectedPeople" />
    <input type="hidden" asp-for="ID" />
    <submit />
</form>

<a asp-action="Index">Back to List</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
