@model Game_Design_DB.ViewModels.PersonViewModel

@{
    ViewData["Title"] = "Create";
}

<form-header subject="Person" description="Add Person" />
<form class="col-md-4" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger" />
    <form-field asp-for="Name" />
    <form-many-field asp-for="Games" field="SelectedGames" />
    <form-many-field asp-for="Resources" field="SelectedResources" />
    <form-many-field asp-for="Websites" field="SelectedWebsites" />
    <input type="hidden" asp-for="ID" />
    <submit />
</form>

<a asp-action="Index">Back to List</a>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
