@model Game_Design_DB.Models.Person

@{
    ViewData["Title"] = "Details";
}

<form-header subject="Person" description="Details" />
<detail-field asp-for="Name" />
<detail-field asp-for="Websites" />
<detail-field asp-for="Games" />
<detail-field asp-for="Resources" />

<a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
<a asp-action="Index">Back to List</a>
