@model Game_Design_DB.Models.Resource

@{
    ViewData["Title"] = "Details";
}

<form-header subject="Resource" description="Details" />
<detail-field asp-for="Title" />
<detail-field asp-for="URL" />
<detail-field asp-for="Authors" />
<detail-field asp-for="Games" />

<a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
<a asp-action="Index">Back to List</a>
